body {}

#section1 {
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("https://cdn.pixabay.com/photo/2017/08/10/01/20/barbershop-2616805_1280.jpg");
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  background-attachment: fixed;
  height: 575px;
  background-size: cover;
}

.barber-text {
  margin-top: 5%;
  text-align: center;
}

.end-text {
  font-size: 20px;
  font-weight: bold;
  color: black;
  letter-spacing: 1px;
  word-spacing: 7px;
  text-align: center;
}

#section2 {
  width: 100%;
  height: 300px;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 3%;
}

.brand {
  color: white;
}

.welcome-text {
  max-width: 25%;
  max-height: 500px;
  color: white;
  padding-left: 5%;
}

/* -------------------navlinks ------------------- */
.logo {
  border-radius: 100%;
}

a.nav-link:hover {
  padding-bottom: 3px;
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}

/* ----------cover--------------- */
.display-4 {
  color: #fff;
}

#why-section {
  height: 500px;
  width: auto;
  text-align: center;
  font-size: 15px;
  color: white;
  text-align: center;
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/img1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.why {
  padding-bottom: 10%;
}

.why-text {
  padding: 25px;
  font-size: 20px;
}

.icons {
  font-size: 50px;
}

.hr {
  text-align: center;
  color: black;
  width: 45%;
  background-color: #fff;
  border-top: 2px dotted #8c8b8b;
  text-shadow: 2px;
}

/* ------------------cards------------------ */
#icons {
  text-align: center;
  color: black;
}

#section2 {
  background-color: white;
  min-height: 380px;
}

.headline {
  text-align: center;
  font-weight: bold;
  background-color: white;
  padding: 2%;
}

.container {
  padding-bottom: 5%;
}

/* -----------carousel ---------------------*/
#carousel1 {
  padding: 5% 20% 5%;
}

.showcase {
  max-height: 400px;
  max-width: 800px;
  border-radius: 40%;
}

/* -------------- center carousel image ---------------- */
.parent {
  min-height: 200px;
}

.social-icons {
  padding-bottom: 2%;
  text-align: center;
  color: white;
  background-color: black;
}

#footer {
  text-align: center;
  color: white;
  background-color: black;
  margin-bottom: 0;
}

/* ---------------------------------------media queries----------------- */
@media (max-width: 768px) {
  .navbar-nav {
    text-align: right;
    padding-top: 5%;
  }

  .icons1 {
    height: 50px;
    width: 50px;
    text-align: center;
  }

  .navbar-toggler {
    position: relative;
    top: 45px;
  }

  #section1 {
    width: 100%;
    background-size: contain;
    height: 300px;
  }

  #section2 {
    width: 100%;
    min-height: 950px;
    padding: 2%;
    margin-bottom: 0;
  }

  .lastSay {
    padding-top: 10%;
    text-align: center;
  }

  .welcome-text {
    font-size: 2%;
    text-align: left;
    max-width: 50%;
  }

  #why-section {
    min-height: 650px;
  }

  #carousel1 {
    padding: 10% 0 10%;
    margin-top: 5%;
  }

  .btn {
    word-wrap: normal;
    overflow: hidden;
    display: inline;
    text-align: center;
  }

  .brand {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 18px;
  }

  .services-text {
    text-align: left;
  }

  .prices {
    text-align: right;
  }

  .why {
    padding-top: 5%;
  }

  .why-text {
    text-align: center;
    padding-top: 10%;
  }

  .end-text {
    padding: 3%;
  }
}
